[Desktop Entry]
Type=Application
Name=smasi
GenericName=smasi
Comment=smasi - Your personal Wiki
Exec=smasi
Icon=com.smasisoftware.smasi
Terminal=false
Categories=Office;
Keywords=smasi;wiki;
